*{
    margin: 0;
    padding: 0;
}

.App{
    font-family:cursive;
}

.todoContainer{
    display: flex;
    justify-content: center;
}

.inputs{
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1.5px solid #007ACC;
}



.todo_adder {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #007ACC;
    box-shadow: 1px 1px 5px 5px #5591b9;
}

.list_container{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #007ACC;
    box-shadow: 1px 1px 5px 5px #5591b9;
    
}

.alert_text{
    color: red;
}

.list_box{
    display: flex;
    border-radius: 15px;
}


.add_button{
    display: block;
    color: white;
    padding: 5px 12px 5px 12px;
    border-radius: 10px;
    background-color: #007ACC;
    border: none;
}

.check_box{
    background: none;
    border: none;
}

.button_con{
    display: flex;
    justify-content: center;
}
.add_button:hover {
    background-color: #0842A4;
}

.header{
    text-align: center;
    background-color: #007ACC;
}

.subhead{
    color: #007ACC;
    border-bottom: 2px solid #007ACC;
    padding-bottom: 5px;
}